<header class="major">
    <h2>À propos de N.E.W. Musique</h2>
</header>

<p>N.E.W. Musique est une compagnie qui a vu le jour à Alma, au lac-st-jean, en 2010. Suite à son aménagement à la plaza 2 d’Alma, N.E.W. Musique se consacre au bien être de sa clientèle en fournissant services, matériel, accessoires, instruments de qualité. Avec son personnel qualifié, professionnel et d’expérience, il est possible d’obtenir des informations et de l’aide incomparable.</p>

<span class="image fit"><img src="{{ site.base_url}}/assets/images/Magasin-N.E.W.-Musique-Alma.jpg"></span>