<header class="major">
    <h2>Heures d'ouverture</h2>
</header>

<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Jours</th>
            <th>Heures</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lundi – Mercredi</td>
            <td>09:00 – 17:00</td>
        </tr>
        <tr>
            <td>Jeudi – Vendredi</td>
            <td>09:00 – 21:00</td>
        </tr>
        <tr>
            <td>Samedi</td>
            <td>09:00 – 17:00</td>
        </tr>
        </tbody>
    </table>
</div>
