<header class="major">
    <h2>Nos services</h2>
</header>

<!-- Content -->
<div class="row">
    <div class="4u 12u$(medium)">
        <h3>Réparation d’appareils électroniques</h3>
        <p>Notre technicien en électrique peut régler beaucoup de problèmes électroniques de toute sorte alors n’hésitez pas à passer à notre magasin pour obtenir un estimé.</p>
    </div>
    <div class="4u 12u$(medium)">
        <h3>Cours de guitare, basse et trompette</h3>
        <p>Des cours de soir individuels sont maintenant offert pour guitare électrique et acoustique. Musique populaire, rock/métal, québécoise et folk. Cours de basse électrique et trompette sur demande.</p>
    </div>
    <div class="4u$ 12u$(medium)">
        <h3>Installation de modules Satellite</h3>
        <p>Venez vous informer des différents forfaits offerts.</p>
        <p>
            <a href="http://www.shawdirect.ca/" target="_blank">
                <span class="image fit"><img width="300px" title="shawdirect" src="{{ site.baseurl }}/assets/images/logos/shawdirect-logo.png" alt="Shaw Direct"></span>
            </a>
        </p>
    </div>
</div>

<hr>

<p>Pour plus d’information, <a href="#contact" class="next scrolly">contactez-nous</a>.</p>