<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics_id }}');
</script>
